[submodule "microstrain_inertial"]
	path = microstrain_inertial
	url = https://github.com/LORD-MicroStrain/microstrain_inertial.git
	branch = ros2
[submodule "radar_velocity_estimation"]
	path = radar_velocity_estimation
	url = https://github.com/microstrain-robotics/radar_velocity_estimation.git
[submodule "smartmicro_ros2_radars"]
	path = smartmicro_ros2_radars
	url = https://github.com/smartmicro/smartmicro_ros2_radars.git
